/*STYLE GLOBAL */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

p, span, h1, h2, h3, h4, h5, h6, li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #222222;
}

h1 {
	font-size: 14px;
	margin-bottom: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px #cccccc;
}

h2 {
	font-size: 13px;
}

p, li {
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 130%;
}

li {
	list-style: none;
	padding-left: 14px;
	background: 0 7px url("images/list2.png") no-repeat;
}

a {
	text-decoration: none;
	color: #5151FF;
}

a:hover {
	text-decoration: underline;
	color: #FD6639;
}

a.external {
	background: right no-repeat url("images/external1.png");
	padding-right: 14px;
}

a.external:hover {
	background: right no-repeat url("images/external2.png");
	padding-right: 14px;
}

body {
	text-align: center;
}

div.cv {
	margin: auto;
	width: 850px;
	text-align: left;
}

div.header {
	overflow: auto;
	margin-bottom: 15px;
}

div.profile {
	float: left;
	width: 200px;
	text-align: center;
}

div.profile div.sep {
	border-top: solid 1px #cccccc;
	height: 1px;
	width: 100px;
	margin: 7px auto;
}

div.photo {
	float: right;
}

div.photo img {
	border: solid 1px #555555;
}

div.experience {
	overflow: auto;
	margin-bottom: 15px;
}

div.experience div.left {
	float: left;
	width: 180px;
	text-align: center;
}

div.experience div.right {
	margin-left: 180px;
}

p.description {
	margin-bottom: 7px;
}

div.details {
	padding: 3px;
	background: #eeeeee;
	margin-bottom: 2px;
}

div.details p,
div.details li {
	font-size: 11px;
}

p.length {
	color: #999999;
	font-size: 10px;
	float: right;
	margin-left: 10px;
}

div.competences {
	margin-bottom: 15px;
}