/*STYLE GLOBAL */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

p, span, h1, h2, h3, h4, h5, h6, li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #222222;
}

h1 {
	font-size: 18px;
	color: #2A6DAF;
}

h3 {
	font-size: 16px;
	font-weight: normal;
}

p, li {
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 130%;
}

li {
	list-style-image: url("images/list2.png");
	list-style-position: outside;
	margin-left: 14px;
}

a {
	text-decoration: none;
	color: #5151FF;
}

a:hover {
	text-decoration: underline;
	color: #FD6639;
}

a.external {
	background: right no-repeat url("images/external1.png");
	padding-right: 14px;
}

a.external:hover {
	background: right no-repeat url("images/external2.png");
	padding-right: 14px;
}




body {
	background: #E6EAF2;
	text-align: center;
}

div.homepage {
	width: 900px;
	margin: auto;
}

div.header {
	position: relative;
	background: #697BA0;
	border: solid 1px #52617F;
	border-top: 0;
}

div.header h1 {
	text-align: left;
	font-size: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

div.header h1 a {
	color: #D5DAE2;
	text-decoration: none;
	background: 0 4px url("images/home1.png") no-repeat;
	padding-left: 20px;
}

div.header div.band {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	background: #DBA89B;
	border-left: solid 1px #52617F;
}

div.footer {
	position: relative;
	background: #697BA0;
	border: solid 1px #52617F;
	border-bottom: 0;
	margin-top: 10px;
}

div.footer p {
	font-size: 11px;
	color: #D5DAE2;
	text-align: right;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
}

div.footer div.band {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10px;
	background: #DBA89B;
	border-right: solid 1px #52617F;
}

div.mainBlock {
	background: white;
	border: solid 1px #B7BECC;
	margin-top: 10px;
	text-align: left;
}




div.menu {
	position: fixed;
	left: 50%;
	top: 90px;
	margin-left: -770px;
	z-index: 10;
	width: 300px;
}

div.menu h1 {
	overflow: auto;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	margin-bottom: 2px;
}

div.menu a {
	float: right;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	border-right: solid 5px #9E9E9E;
	color: #9E9E9E;
}

div.menu a:hover {
	text-decoration: none;
	border-right: solid 5px #556689;
	color: #556689;
}




div.profile {
	position: relative;
	height: 210px;
}

div.profile p.cv {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 11px;
}

div.profile p.cv a {
}

div.profile h1.name {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 190px;
}

div.profile h3.profession {
	margin-left: 190px;
	margin-bottom: 15px;
}

div.profile div.infos {
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #E6EAF2;
	border-top: solid 1px #B7BECC;
	border-bottom: solid 1px #B7BECC;
}

div.profile div.infos p {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: 0 5px;
}

div.profile div.infos div.identity {
	float: left;
	margin-left: 190px;
}

div.profile div.infos div.contact {
	float: left;
	margin-left: 150px;
}

div.profile div.links {
	float: right;
	overflow: auto;
	margin-top: 14px;
	margin-right: 10px;
}

div.profile div.links a {
	float: left;
	margin-left: 20px;
}

div.profile div.links img {
	border: 0;
	display: block;
}

div.profile div.website {
	display: none;
	margin-left: 190px;
	margin-top: 14px;
}

div.profile div.website p {
	color: #AAAAAA;
	font-size: 10px;
}

div.profile div.photo {
	position: absolute;
	left: 20px;
	top: 20px;
	text-align: center;
}

div.profile div.photo img {
	border: solid 1px #999999;
	width: 140px;
	height: 170px;
}




div.experiences {
}

div.experiences div.title {
	padding: 10px;
}

div.experiences div.experience {
	border-top: solid 1px #B7BECC;
	overflow: auto;
}

div.experiences div.left {
	float: left;
	width: 160px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

div.experiences div.right {
	margin-left: 190px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

div.experiences div.dates {
}

div.experiences div.dates p {
	font-size: 13px;
}

div.experiences div.logo {
	margin-top: 15px;
}

div.experiences div.description {
	margin-bottom: 8px;
}

div.experiences div.description p {
	font-size: 13px;
}

div.experiences div.details {
	padding: 5px;
	margin-top: 5px;
	background: #F4F7FF;
	border: solid 1px #DEE6F4;
	border-right: 0;
}

div.experiences div.details p,
div.experiences div.details li {
	font-size: 11px;
}

div.experiences div.details p.length {
	color: #999999;
	font-size: 10px;
	float: right;
}




div.competences {
	overflow: auto;
}

div.competences div.title {
	padding: 10px;
	border-bottom: solid 1px #B7BECC;
}

div.competences div.left {
	float: left;
	overflow: auto;
	width: 160px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

div.competences div.left img {
}

div.competences div.right {
	margin-left: 195px;
	padding: 10px;
	padding-left: 0;
}

div.competences li {
	padding-top: 4px;
	padding-bottom: 4px;
	background-position: 0 10px;
}





div.text {
	padding: 20px;
	text-align: left;
}

div.text h1 {
	font-size: 18px;
	color: #2A6DAF;
	margin-bottom: 10px;
}

div.text h2, div.text h3 {
	border-bottom: solid 1px #cccccc;
	margin-bottom: 7px;
	padding-bottom: 5px;
	margin-top: 18px;
}

div.text h2 {
	font-size: 13px;
}

div.text h3 {
	font-size: 12px;
}

div.text p {
	font-size: 12px;
	line-height: 140%;
}

div.text p.lite {
	color: #999999;
	font-size: 11px;
}

div.text hr {
	width: 100px;
	border-top: solid 1px #cccccc;
}

div.text img {
	display: block;
	margin: auto;
}

div.text img.logo {
	float: left;
	margin-right: 10px;
}

div.text ul {
}

div.text ul li {
	list-style-type: none;
	list-style-position: outside;
	background: 0 8px url("images/list2.png") no-repeat;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 12px;
}